@import "~bootstrap/dist/css/bootstrap.css";

.selector {
    position: relative;
    width: 100%;
    height: 40px;
    display: inline-block;
    background-color: #BCC6CC;
    font: 17px sans-serif;
    font-weight: bold;
}

#select-container {
    position: absolute;
    right: 16px;
    top: 10px;
    height: 100%;
}

label {
    padding-right: 5px;
    padding-left: 25px;
}

.show-row {
    display: block;
    position: relative;
    width: 100%;
    height: 30%;
}

.hidden-row {
    display: none;
}

.details {
    position: relative;
    width: 35rem;
    height: 10rem;
}